<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444677676176-j9qp2cob7eruaf5p71nuaitb1afquomh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444677676176-j9qp2cob7eruaf5p71nuaitb1afquomh</string>
	<key>API_KEY</key>
	<string>AIzaSyDDVr5Z2vnWsaewqee2DcW0mtlOe7PXLVo</string>
	<key>GCM_SENDER_ID</key>
	<string>444677676176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterbeacon</string>
	<key>PROJECT_ID</key>
	<string>flutter-beacon-7cbb2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-beacon-7cbb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444677676176:ios:5c986352926a2518da8c15</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-beacon-7cbb2.firebaseio.com</string>
</dict>
</plist>